<!DOCTYPE html>
{% autoescape true %}
<html>
	<head>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap-theme.min.css')}}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/cover.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery-2.1.3.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <script type="text/javascript">
    {% block js %}
    {% endblock %}
	</script>
	</head>
	<body>
	 <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <nav>
                <ul class="nav masthead-nav">
                  {% block nav %}
				    {% endblock %}
                </ul>
              </nav>
            </div>
          </div>

          <div class="inner cover">
	          {% block content %}
				{% endblock %}
          </div>

          
        </div>

      </div>

    </div>


	</body>
</html>
{% endautoescape %}
