<!DOCTYPE html>
{% autoescape true %}
<html>
	<head>
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
		
	</head>
	<body>
		<form name="sentiment_input_form" action="/postsent" method="POST" enctype="multipart/form-data">
			<div class="form-group">
			    <label for="sent">Enter Sentiment</label>
			    <input type="text" class="form-control" name="sent" id="sent" placeholder="Enter sentiment">
			</div>
			<p>OR </p>
			<div class="form-group">
			    <label for="sentfile">Upload File</label>
			    <input type="file" name="file" id="sentfile">
			  </div>
			<input type="submit">
				</form>
	</body>
</html>
{% endautoescape %}