{% extends "base.html" %}
{% block nav %}
	<a href="/">Home</a>
{% endblock %} 

{% block content %}
{% if output %}
<table class="table">
	{% for a in output %}
		<tr>
		  <td>
		  {{ a[0]|tojson|safe }}
		  </td>
		  {% for item,value in a[1].items() %}
			{% set a = item %}
			{% set b = value %}
			<td>
			{% if a == 'priors' or a =='brand' or a =='class'%}
			{{ a|tojson|safe }}
			{% else %}
			Posterior - {{ a|tojson|safe }}
			{% endif %}
			
			{% if b is mapping %}
				{% for item,value in b.items() %}
					{{ item|tojson|safe }}:{{ value|tojson|safe }} 
				{% endfor %}
			{% else %}
				 {{ b|tojson|safe }}
			{% endif %}
			</td>
			{% endfor %}

	</tr>
	{% endfor %}
</table>
	
{% endif %}

{% endblock %}
	

