{% extends "base.html" %}
{% block nav %}
	<a href="/">Home</a>
{% endblock %} 

{% block content %}
{% if output %}
	<table class="table">
		<tr>
			<td>Statement</td>
			<td>Brand</td>
			<td>Prior Probability</td>
			<td>Posterior Probability</td>
			<td>Class</td>

		</tr>
			{% for o in output %}
				<tr>
				  {% set pr = o %}
					<td>{{pr.statement}}</td>
					<td>{{pr.brand}}</td>
					<td>{{pr.priors.items() | pprint}}</td>
					<td>{{pr.posteriors.items() | pprint}}</td>
					<td>{{pr.class}} : {{pr.best}}</td>
					
			</tr>
			{% endfor %}
	</table>
	
{% endif %}

{% endblock %}


